.moving-up {
    position: relative;
    animation: movingUpdown 1s  alternate-reverse infinite;
}


@keyframes movingUpdown {
    0% {
        top: 4px;
    }
    100% {
        top: -4px;
    }
}

.movingLeftRight {
    position: absolute;
    will-change: top, left;
    animation: movingLeftRight 20s linear infinite;
}

@keyframes movingLeftRight {
    0% {
        left: -50;
        top: 0;
    }

    25% {
        left: -60px;
        top: -10px;
    }

    50% {
        left: -80px;
        top: -30px;
    }

    75% {
        left: -60px;
        top: -10px;
    }

    100% {
        left: -50px;
        top: 0;
    }
}