@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button.css */
.dynamic-button {
    position: relative;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
}

.dynamic-button::before,
.dynamic-button::after {
    content: '';
    color: #1B7261;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transition: width 0.5s ease;
}

.dynamic-button::before {
    left: 0;
}

.dynamic-button::after {
    right: 0;
}

.dynamic-button:hover::before,
.dynamic-button:hover::after {
    width: 50%;
}

/* dynamic-button2 */
.dynamic-button2 {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.dynamic-button2::before,
.dynamic-button2::after {
    content: '';
    color: white;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #1B7261;
    transition: width 0.5s ease;
}

.dynamic-button2::before {
    left: 0;
}

.dynamic-button2::after {
    right: 0;
}

.dynamic-button2:hover::before,
.dynamic-button2:hover::after {
    width: 50%;
}

/* object */

/* .object-cover {
    object-fit: cover;
    object-position: 50% 50%;
} */


/* /shadow counter */

.shadowCounter {
    text-shadow: 0px 5px 500px -5px #1B7261;
}



/* styles.css */
.react-select__control {
    background-color: #f0f0f0;
    border-color: #ffffff;
}

.react-select__menu {
    background-color: #f0f0f0;
}

.react-select__option {
    background-color: #e9e9e9;
    color: #000;
}

.react-select__option--is-selected {
    background-color: #ffffff !important;
    color: #fff;
}

.react-select__option--is-focused {
    background-color: #DBE6E6;
}

.dark .react-select__control {
    background-color: #ffffff;
    border-color: #1B7261;
}

.dark .react-select__menu {
    background-color: #ffffff;
}

.dark .react-select__option {
    background-color: #ffffff;
    color: #fff;
}

.dark .react-select__option--is-selected {
    background-color: #ffffff;
    color: #fff;
}

.dark .react-select__option--is-focused {
    background-color: #ffffff;
}


/* rotate */
.rotating {
    -webkit-animation: rotate 5s linear alternate-reverse infinite;
    animation: rotate 5s linear alternate-reverse infinite;
}


@keyframes rotate {
    0% {
        transform: rotate(-5deg);

    }

    100% {
        transform: rotate(12deg);
    }

}
.rotating2 {
    -webkit-animation: rotate2 5s linear alternate-reverse infinite;
    animation: rotate2 5s linear alternate-reverse infinite;
}

@keyframes rotate2 {
    0% {
        transform: rotate(5deg) scaleX(-1);
    }

    100% {
        transform: rotate(-12deg) scaleX(-1);
    }
}