@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button.css */
.dynamic-button {
    position: relative;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
}

.dynamic-button::before,
.dynamic-button::after {
    content: '';
    color: #1B7261;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transition: width 0.5s ease;
}

.dynamic-button::before {
    left: 0;
}

.dynamic-button::after {
    right: 0;
}

.dynamic-button:hover::before,
.dynamic-button:hover::after {
    width: 50%;
}

/* dynamic-button2 */
.dynamic-button2 {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.dynamic-button2::before,
.dynamic-button2::after {
    content: '';
    color: white;
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #1B7261;
    transition: width 0.5s ease;
}

.dynamic-button2::before {
    left: 0;
}

.dynamic-button2::after {
    right: 0;
}

.dynamic-button2:hover::before,
.dynamic-button2:hover::after {
    width: 50%;
}

/* object */

/* .object-cover {
    object-fit: cover;
    object-position: 50% 50%;
} */